@import url('https://fonts.cdnfonts.com/css/led-digital-7');

*,
*::after,
*::before {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    /* min-height: 100vh;
    min-width: 100vw; */
    background-color: rgb(31, 41, 55);
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    flex-direction: column;
}

.title {
    margin-bottom: 5rem;
    margin-left: 10px;
}

.content-container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
}

.output-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 2rem;
}

.output {
    width: 100%;
    /* font-family: 'LED Digital 7', sans-serif; */
    resize: none;
    background-color: rgb(62, 75, 92);
    padding: 0.5rem;
    color: rgb(249, 250, 248);
    border-radius: 2px;
    border: 1px solid rgb(62, 75, 92);
    font-size: 15px;
    font-weight: bold;
    font-size: 20px;
    text-align: end;
}

.btn-container {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 10px;
}

.btn-container button {
    background-color: transparent;
    color: white;
    padding: 15px;
    flex: 1;
    width: 60px;
    border-radius: 3px;
}

.line {
    padding-bottom: 5px;
}

.clear-btn {
    display: flex;
    gap: 0.5rem;
}

.btn-container .numbers {
    border: 1px solid rgb(255, 255, 0);
}

.btn-container .numbers:hover {
    color: white;
    background-color: rgba(255, 255, 0, 0.5);
    border: 1px solid currentColor;
}

.btn-container .numbers:active {
    color: black;
    background-color: rgb(255, 255, 0);
    border: 1px solid currentColor;
}

.btn-container .operators {
    border: 1px solid rgb(173, 216, 230);
}

.btn-container .operators:hover {
    color: white;
    background-color: rgba(173, 216, 230, 0.5);
    border: 1px solid currentColor;
}

.btn-container .operators:active {
    color: black;
    background-color: rgb(173, 216, 230);
    border: 1px solid currentColor;
}

.btn-container .equal {
    border: 1px solid rgb(0, 128, 0);
}

.btn-container .equal:hover {
    color: white;
    background-color: rgba(0, 128, 0, 0.5);
    border: 1px solid currentColor;
}

.btn-container .equal:active {
    color: black;
    background-color: rgb(0, 128, 0);
    border: 1px solid currentColor;
}

/* 
.btn-container .dot {
    border: 1px solid rgb(255, 0, 0);
} */

.btn-container .dot,
#all-clear,
#clear {
    border: 1px solid rgb(255, 0, 0);
}

.btn-container .dot:hover,
#all-clear:hover,
#clear:hover {
    color: white;
    background-color: rgba(255, 0, 0, 0.5);
    border: 1px solid currentColor;
}

.btn-container .dot:active,
#all-clear:active,
#clear:active {
    color: black;
    background-color: rgb(255, 0, 0);
    border: 1px solid currentColor;
}